---
import Button from './Button.astro';
---

<div class="mx-auto max-w-2xl lg:mx-0 lg:pt-8">
  <img
    src="artificial-intelligencers.webp"
    alt="Artificial Intelligencers"
    class="block mx-auto w-3xs lg:mx-0"
  />
  <h1
    class="mt-10 text-3xl font-semibold tracking-tight text-pretty text-slate-800 sm:text-5xl"
  >
    A Nashville meetup group supporting folks at all levels who are exploring building with AI.
  </h1>
  <p class="mt-8 text-lg font-medium text-pretty text-slate-600 sm:text-xl/8">
    Artificial Intelligencers, n. — any beginners to experts who are willing to
    both share their personal or professional journeys learning, experimenting,
    developing, and applying Artificial Intelligence in any form, and support
    others doing the same.
  </p>
  <div
    class="mt-10 flex items-center justify-center pb-12 gap-x-6 lg:justify-start"
  >
    <Button
      href="https://www.meetup.com/nashville-ai-engineering"
      variant="primary"
      size="md"
    >
      Join on Meetup
    </Button>
  </div>
</div>
